img {
    max-width: 100%;
    height: auto;

}

#content {
    margin: 0 auto;
    width: 900px;
    max-width: 100%;
    height: auto;
}

.title{
    font-family: Georgia, 'Times New Roman', Times, serif
    
}

.img {
max-width: 100%;
height: auto;
display: block;
margin-bottom: 1em;
}

.h1{
font: Helvetica, sans-serif;
font-weight: 13px;
}

#byline{
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-style:italic;
}

.p{
font-family: Georgia, serif;  
font-size: 13px;
margin-bottom: 1em;
text-align: center;  
}


.blockquote{
    
}

.h4{
font-weight: bold;
text-align: center;
}