#content {
    margin: 0 auto;
    width: 900px;
}

.title{
    font-family: Georgia, 'Times New Roman', Times, serif
    font-
}

.h1{
font: Helvetica, sans-serif;
font-weight: 13px;
}

#byline{
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-style:italic;
}

.p{
font-family: Georgia, serif;  
font-size: 13px;  
}

h3{
font-family: ;
}

.blockquote{
    
}