.mental{
    background:#000; 
    padding: 20px;
}

#datawrapper-chart{
    width: 100%;
    border: none;
    height: 584px;
    filter: invert(1) hue-rotate(180deg);
}

.headline{
    font: Georgia; 
    font-size: 3em;
    text-decoration: underline;
    text-decoration-color:#7c3600;
    text-decoration-thickness: 5px;
    text-align: center;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}