.headline {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
      font-family: "Montserrat", sans-serif; 
}
.byline {
    font-size: 1em;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

p {
 font-family: Georgia, serif;  
line-height: 180%;
}


#image {
width: 50%;
  height: auto;
  display: block;
  margin: 50px auto;
}

#image-caption {
  text-align: center;
}

footer {
color: white;
text-align: center;
padding: 35px;
background-color: black;
margin: 50px auto;
width: 100%; 

}