/*styles for my resume
*/
body {
 font-family: Arial, open-sans;
 color: #444
}
/*This styles my name 
*/
h1 {
  font-size: 3em;  
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
}

/*This styles my title
*/
strong {
    text-transform: uppercase;
    font-size: 1.5em;
    color:#33485e;
 }

 li {
    font-size: 1em;
 }

 /*This styles my section titles
*/
 h2 {
     text-transform: uppercase;
    font-size: 1.5em;
     background-color:#33485e;
     color: white;
     font-weight: 400;
 }

/*This styles my job titles
*/
 h3{
    font-weight: 600;
    font-size: 1.5em;
 }

 /*This styles my job organization
 */
 h4{
    font-weight: 400;
    font-size: 1.5em;
 }

 /*This styles my job dates
 */
 h5{
    font-weight: 400;
    font-size: 1em;
    font-style: italic;
 }
