.map{
  display:block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
}

.barchart{ 
display:block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
}

.dblbarchart {
display:block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;    
}