body {
    background-image: url('images/bg3c.jpg');
    background-repeat: repeat; 
    background-size: cover; 
    background-attachment: fixed;
  }

  

  .navbar-brand {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.masthead-image img{
  width: 80%;
  height: auto;
  display: block;
  border-radius: 5%;
  margin: 50px auto;
}

.container1{
font-family: Georgia, 'Times New Roman', Times, serif;
padding: 35px;
background-color: #97CE7D;
margin: 50px auto;
width: 60%; 
border-radius: 5%;
text-align: left;
opacity: 0.8;
}

.row{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10;
}

.container2{
flex: 2; 
font-family: Georgia, 'Times New Roman', Times, serif;
padding:20px;
border-radius: 5%;
background-color: #97CE7D;
opacity: 0.8;
text-align: center;
 height: auto;
  display: block;
  border-radius: 5%;
  margin: 50px auto;
}

.col-md-6{
flex: 1;
font-family: Georgia, 'Times New Roman', Times, serif;
padding:20px;
border-radius: 5%;
background-color: #97CE7D; 
opacity: 0.8;
text-align: left;
 height: auto;
  display: block;
  border-radius: 5%;
  margin: 50px auto; 
}

hr{
  border: none;
  border-top: 5px solid #555;
  border-bottom: 20px solid #555;
  padding: 15px;
  margin: 20px 0;
}

@media (max-width:768px) {
  .row{
    flex-direction: column;
  }
}


h2{
font-size: 26px;
font-weight: 18px;
text-align: center;
}

h3{
  text-align: center;
}

h4{
  text-align: center;
}

h5{
  text-align: center;
}


footer{
text-align: center;
padding: 15px 0;
border-bottom: ;
}

